min_version = "2025.8.4"

[task_config]
includes = ["xtasks"]

[tasks]
fmt = { depends = ["infra-k8s-fmt:*"] }
lint = { depends = ["infra-k8s-lint:*"] }
gen = { depends = ["infra-k8s-gen:*"] }

# [tasks.gen]
# description = "Convert jsonnet to yaml (use the yaml information by Ansible)"
# sources = ["**/*.jsonnet", "**/*.json5", "**/*.json"]
# outputs = { auto = true }
# run = './gen-yaml.sh'

[tools]
"aqua:google/go-jsonnet" = "latest"
uv = "0.8.14"
