min_version = "2025.8.4"

[tools]
"aqua:google/go-jsonnet" = "0.21.0"
"aqua:mvdan/sh" = "3.12.0"
uv = "0.9.11"

[task_config]
includes = ["xtasks"]

[tasks]
fmt = { depends = ["infra-k8s-fmt:*"] }
lint = { depends = ["infra-k8s-lint:*"] }
gen = { depends = ["infra-k8s-gen:*"] }
